
body {
        background-color: rgb(107, 107, 202);
    }
H1 {
    background-color: aqua;
        width: 500px;
        margin: auto;
        padding: 10px;
        box-shadow: rgb(255, 251, 0) 2px 6px 6px;    
    }
p {
     background-color: rgb(237, 243, 243);
        width: 500px;
        margin: auto;
        padding: 10px;
        box-shadow: rgb(161, 5, 5) 2px 2px 2px;
    }
hr{
    width: 500px;
    
}    
  

